#qlc-hud {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 300px;
    height: 150px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 9999999999;
    padding: 10px;
}

#qlc-hud button {
    width: 80%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin: 5px;
    transition: transform 0.2s;
}

#qlc-hud button:active {
    transform: scale(0.93);
}

#qlc-hud button.active {
    border: 3px solid rgb(123, 204, 1);
}